.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;

    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 321px) {
  .container {
    max-width: 322px;
  }
}
