:root {
    // button
    --accent-color: #F8D24E;
    --btn-secondary-bgc: #ABABAB;
    --btn-third-bgc: #0A8817;
    
    // font color
        --primary-text-color: #FCFCFC;
        --secondary-text-color: #131313;
        --title-item-text-color: #FFFFFF;
    
        // bgc
        --maine-bgc-color: #84A178;
        --ice-cream-bgc-color: #AEC6A5;
        --ice-coffee-bgc-color: #EFD478;
        --milkshakes-bgc-color: #D6936D;
    
        // bgc
        --ice-fill-one: rgba(95, 162, 0, 0.3);;
        --ice-fill-two: rgba(238, 80, 143, 0.5);
        --ice-fill-thre: #5BB676;
        --ice-fill-fore: #EE508F;
        --ice-fill-five: rgba(188, 116, 64, 0.5);
        --ice-fill-six: rgba(213, 117, 63, 0.5);
        --ice-fill-seven: rgba(95, 162, 0, 0.5);
        --ice-fill-eight: #BC7440;
        --ice-fill-nine_nine_nien: rgba(213, 117, 63, 0.5);
        --ice-fill-ten: gba(95, 162, 0, 0.5);
    
        // footer coperite
        --coperite-text-color: #FCFCFC;
}