<article class="advantages" id="uk">
  <section>
    <h1 class="visually-hidden">Advantage</h1>
    <ul>
      <li>
        <svg>
          <use></use>
          <h3>721</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </svg>
      </li>
      <li>
        <svg>
          <use></use>
          <h3>16kg</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </svg>
      </li>
      <li>
        <svg>
          <use></use>
          <h3>84</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </svg>
      </li>
    </ul>
  </section>
</article>