<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-item">
                <svg>
                    <use href="./images/sprite.svg#cow"></use>
                </svg>
                <h3 class="advantages-item__titel">721</h3>
                <p class="advantages-item__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <svg>
                    <use href="./images/sprite.svg#weight"></use>
                </svg>
                <h3 class="advantages-item__titel">16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                <p class="advantages-item__description"></p>
                
            </li class="advantages-item">
            <li>
                <svg>
                    <use href="./images/sprite.svg#ice-cream"></use>
                </svg>
                <h3 class="advantages-item__titel">84</h3>
                <p class="advantages-item__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>