<h2 class="section-contacts vissualy-hidden">Our contacts</h2>
<div class="contacts-list container">
  <!--  cards #1 -->
  <ul class="contacts-cards list link">
    <p class="contacts-cards__text">CAFE</p>

    <!-- address -->
    <ul class="contacts-cards__address">
      <li class="contacts-cards__city-point list">Chicago</li>
      <li class="contacts-cards__city-location list">
        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
      </li>

      <!-- work-time -->
      <ul class="contacts-cards__work-time list">
        <li class="contacts_cards__work-days">Monday - Friday</li>
        <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
        <li class="contacts_cards__work-days">Saturday - Sunday</li>
        <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
      </ul>

      <!-- contacts-inform -->
      <ul class="contacts-inform list">
        <li class="contacts-phone">
          <a href="tel:+610383766284" class="contacts-phone__link link">+61(0) 383 766 284
          </a>
        </li>
        <li class="contacts-mail">
          <a href="mailto:noreply@envato.com" class="contacts-mail__link link">noreply@envato.com</a>
        </li>
      </ul>
    </ul>
  </ul>

  <!--  cards #2 -->
  <ul class="contacts-cards list link">
    <p class="contacts-cards__text contacts-cards__text_biggest">FOOD TRUCK</p>

    <!-- address -->
    <ul class="contacts-cards__address">
      <li class="contacts-cards__city-point list">Los Angeles</li>
      <li class="contacts-cards__city-location list">
        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
      </li>

      <!-- work-time -->
      <ul class="contacts-cards__work-time list">
        <li class="contacts_cards__work-days">Monday - Friday</li>
        <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
        <li class="contacts_cards__work-days">Saturday - Sunday</li>
        <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
      </ul>

      <!-- contacts-inform -->
      <ul class="contacts-inform list">
        <li class="contacts-phone">
          <a href="tel:+610383766284" class="contacts-phone__link link">+61(0) 383 766 284
          </a>
        </li>
        <li class="contacts-mail">
          <a href="mailto:noreply@envato.com" class="contacts-mail__link link">noreply@envato.com</a>
        </li>
      </ul>
    </ul>
  </ul>

  <!--  cards #3 -->
  <ul class="contacts-cards list link">
    <p class="contacts-cards__text">CAFE</p>

    <!-- address -->
    <ul class="contacts-cards__address">
      <li class="contacts-cards__city-point list">New York</li>
      <li class="contacts-cards__city-location list">
        726 Sterling Pl, Brooklyn, NY 11222, USA
      </li>

      <!-- work-time -->
      <ul class="contacts-cards__work-time list">
        <li class="contacts_cards__work-days">Monday - Friday</li>
        <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
        <li class="contacts_cards__work-days">Saturday - Sunday</li>
        <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
      </ul>

      <!-- contacts-inform -->
      <ul class="contacts-inform list">
        <li class="contacts-phone">
          <a href="tel:+610383766284" class="contacts-phone__link link">+61(0) 383 766 284
          </a>
        </li>
        <li class="contacts-mail">
          <a href="mailto:noreply@envato.com" class="contacts-mail__link link">noreply@envato.com</a>
        </li>
      </ul>
    </ul>
  </ul>
</div>

<!-- contacts-button -->
<div class="contacts-button">
  <button class="our-location" data-modal-open>
    Our Locations
    <svg class="our-location__icon" width="5" height="9">
      <use href="./images/sprite.svg#greater-than"></use>
    </svg>
  </button>
  <button class="franchise">
    Franchise
    <svg class="franchise__icon" width="5" height="9">
      <use href="./images/sprite.svg#greater-than"></use>
    </svg>
  </button>
</div>