<header>
    <div class="header">
        <div class="container">
            <div class="header_block">
                <div class="header_block_mobile">
                    <svg class="header-icon" width="60" height="65" aria-label="Logo">
                        <use href="/src/images/sprite.svg#logo"></use>
                    </svg>
                    <button type="button" class="mobile_menu_button" data-menu-open>
                        <svg class="mobile_menu_button_icon" width="20" height="12" aria-label="burger">
                            <use class="mobile_menu_button_icon_open" href="/src/images/sprite.svg#icon_burger"></use>
                            <use class="mobile_menu_button_icon_close" href="/src/images/sprite.svg#close_btn"></use>
                        </svg>
                    </button>
                    <div class="mobile_site_nav mobile_backround" id="mobile_site_nav">
                        <nav>
                            <ul class="list">
                                <li class="mobile_site_nav_item">
                                    <a href="/src/partials/header.html" class="site_nav_link">Home</a>
                                </li>
                                <li class="mobile_site_nav_item">
                                    <a href="/src/index.html#advantages" class="site_nav_link">About us</a>
                                </li>
                                <li class="mobile_site_nav_item">
                                    <a href="/src/index.html#about" class="site_nav_link">How it’s made?</a>
                                </li>
                                <li class="mobile_site_nav_item">
                                    <a href="/src/index.html#products" class="site_nav_link">Our products</a>
                                </li>
                                <li class="mobile_site_nav_item">
                                    <a href="/src/index.html#contacts" class="site_nav_link">Contact</a>
                                </li>
                            </ul>
                            <button type="button" class="mobile_order_button" data-modal-open>
                                <span class="mobile_order_button_text">Buy now</span>
                                <svg width="150" height="40" aria-label="order-btn">
                                    <use class="mobile_order_button_icon" href="/src/svg/sprite.svg#order-btn"></use>
                                </svg>
                            </button>
                        </nav>
                    </div>
                </div>
                <nav class="site_nav">
                    <ul class="site_nav list">
                        <li class="site_nav_item">
                            <a href="/src/partials/header.html" class="site_nav_link">Home</a>
                        </li>
                        <li class="site_nav_item">
                            <a href="/src/partials/advantages.html" class="site_nav_link">About us</a>
                        </li>
                        <li class="site_nav_item">
                            <a href="/src/partials/about.html" class="site_nav_link">How it’s made?</a>
                        </li>
                        <li class="site_nav_item">
                            <a href="/src/partials/products.html" class="site_nav_link">Our products</a>
                        </li>
                        <li class="site_nav_item">
                            <a href="/src/partials/contacts.html" class="site_nav_link">Contact</a>
                        </li>
                    </ul>
                </nav>
                <button type="button" class="order_button" data-modal-open>
                    <span class="order_button_text">Buy now</span>
                    <svg width="150" height="40" aria-label="order_btn">
                        <use class="order_button_icon" href="/src/images/sprite.svg#order_btn"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>