<div class="container hero-container">
  <h1 class="hero-title">
    ice cream made with
    <span class="hero-title hero-title--active">passion</span>
  </h1>
  <ul class="hero-button-list list">
    <li class="hero-button-list__item--main">
      <a class="hero-button-products__link link" href="#products">Products</a>
    </li>
    <li class="hero-button-list__item">
      <a class="hero-button-about__link link" href="#about">How it’s made?</a>
    </li>
  </ul>
  <div class="hero-desc-wrap">
    <img class="hero-desc-img" src="#" alt="ice-cream on the plate" />
    <p class="hero-desc-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
  <div class="hero-about-wrap">
    <ul class="hero-about list">
      <li class="hero-about__item--first">16</li>
      <li class="hero-about__item--second">cafes</li>
    </ul>
    <ul class="hero-about list">
      <li class="hero-about__item--first">23</li>
      <li class="hero-about__item--second">food trucks</li>
    </ul>
  </div>
</div>
