<div class="container hero-container">
  <h1 class="hero-title">
    ice cream made with
    <span class="hero-title hero-title--active">passion</span>
  </h1>
  <ul class="hero-button-list list">
    <li class="hero-button-list__item--main">
      <a class="hero-button-products__link link" disabled href="#products"
        >Products</a
      >
    </li>
    <li class="hero-button-list__item">
      <a class="hero-button-about__link link" href="#about">How it’s made?</a>
    </li>
  </ul>
  <div class="hero-desc-wrap">
    <picture>
      <source
        srcset="./images/tablet/hero/plate@2x.png"
        media="(max-width: 1199px)"
      />
      <img
        class="hero-desc-img"
        src="./images/tablet/hero/plate.png"
        alt="ice-cream on the plate"
        width="152"
      />
    </picture>

    <p class="hero-desc-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
  <div class="hero-about-wrap">
    <ul class="hero-about list">
      <li class="hero-about__item--first">16</li>
      <li class="hero-about__item--second">cafes</li>
    </ul>
    <ul class="hero-about list">
      <li class="hero-about__item--first">23</li>
      <li class="hero-about__item--second">food trucks</li>
    </ul>
  </div>
  <div class="hero-main-pic">
    <picture>
      <source
        srcset="
          ./images/tablet/hero/main-ice-cream@2x.png,
          ./images/tablet/hero/main-ice-cream.png
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="./images/mobile/hero/main-ice-cream@2x.png"
        media="(max-width: 767px)"
      />
      <img
        class="hero-picture"
        src="./images/mobile/hero/main-ice-cream.png"
        alt="ice-cream"
        width="170"
      />
    </picture>
  </div>
</div>
