.buy-now-modal {
  display: none;
  width: 280px;
  height: 965px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  margin-right: auto;
  margin-left: auto;
  padding: 28px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
  }
}

.buy-now-modal__title {
  text-align: center;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.buy-now-modal__list {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-input {
  width: 224px;
  height: 32px;
  padding: 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
  }
}

.modal-form-comment {
  width: 224px;
  height: 64px;
  padding: 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 368px;
    height: 84px;
  }
}

.submit-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #000000;
  border-color: transparent;
  width: 150px;
  height: 32px;
  margin-left: 65px;
  margin-right: 65px;
  background: #f8d24e;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 150px;
    height: 42px;
  }
}

::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #000000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
