.backdrop-franchise {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;

  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hiddenlo {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-franchise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  //   height: 458px;
  background-color: #fff;

  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.modal-franchise__title {
  padding-top: 32px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 322px;

  font-family: 'Seymour One';
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.modal-franchise__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  width: 448px;
  line-height: 1.19;

  color: #000000;
}

// ________FORM _______
.modal-form {
  display: flex;
  flex-direction: column;
  width: 368px;
  row-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__input {
  height: 42px;
  padding-left: 16px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #000000;
  }

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid rgba(248, 210, 78, 1);
  }
}

.modal-form__message {
  padding-top: 11px;
  padding-left: 16px;
  margin-bottom: 32px;

  resize: none;

  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 140%;

    color: #000000;
  }

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid rgba(248, 210, 78, 1);
  }
}
.send-form {
  width: 152px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #0a8817;
    color: #fff;
    transform: scale(1.1);
    outline: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  }
}

// ________ /FORM _______
