.read-more-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  width: 280px;
  height: 460px;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 450px;
  }
}

.read-more-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.read-more-modal__video {
  display: flex;
  width: 225px;
  height: 200px;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 205px;
  }
}

.read-more-modal__video-frame {
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px) {
  }
}

.read-more-modal__text {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    text-align: center;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  border: transparent;
  background-color: transparent;
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 2;
//   background-color: rgba(0, 0, 0, 0.2);
// }

// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0.9);
// }
