.advantages {
    text-align: center;
    color: #FCFCFC;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    padding-bottom: 86px;
}

.advantages-list__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advantages-list__title {
    text-transform: uppercase;
    color: #FCFCFC;
}

.wrapper {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #F8D24E;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}