.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  padding-bottom: 25px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
  min-width: 320px;

  padding-bottom: 25px;
}

.header-icon {
  width: 60px;
  height: 65px;
  left: 16px;
  top: 8px;
  margin-left: 16px;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  width: 543px;
  height: 20px;
  left: 344px;
  top: 40px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.site-nav__link {
  width: 543px;
  height: 20px;
  left: 345px;
  top: 40px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);

  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba($color: #f8d24e, $alpha: 1);
  }
}

.site-nav__list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.order-button {
  width: 192px;
  height: 42px;
  padding: 12px 54px 11px 37px;
  margin-right: 16px;
  cursor: pointer;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .header {
    display: none;
  }
}
