.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  padding-bottom: 45px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
  min-width: 320px;

  padding-bottom: 25px;
}


.header-icon {
  width: 60px;
  height: 65px;
  left: 16px;
  top: 8px;
  margin-left: 16px;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mobile-menu-button {
  fill: #ffff;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-site-nav-container {
  width: auto;
  height: 568px;
  background: #84A178;
}

.mobile-site-nav {

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
}

.mobile-site-nav__link {

  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  &:hover,
  &:focus {
    color: rgba($color: #000000, $alpha: 1);
  }
}



.site-nav {
  width: 543px;
  height: 20px;
  left: 344px;
  top: 40px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  width: 543px;
  height: 20px;
  left: 345px;
  top: 40px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);

  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba($color: #f8d24e, $alpha: 1);
  }
}

.site-nav__list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.order-button {
  width: 192px;
  height: 42px;
  padding: 12px 54px 11px 37px;
  margin-right: 16px;
  cursor: pointer;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .order-button {
    display: none;
  }
}

.order-button1 {
  width: 192px;
  height: 42px;
  padding: 12px 54px 11px 37px;
  margin-right: 16px;
  cursor: pointer;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  align-items: center;
  text-align: center;

  &:hover,
  &:focus {
    color: rgba($color: #0A8817, $alpha: 1);
  }

}

@media screen and (min-width: 768px) {
  .order-button1 {
    display: none;
  }
}

.header-icon1 {
  padding-top: 10px;
  padding-left: 15px;
}

.mobile-menu-close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  right: 0;
  overflow: scroll;
  padding: 48px 10px 48px 40px;
}

.mobile-menu.is-open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}